# Object files
*.o
*.lo

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Makefile
Makefile

# Make object
objs

# Project files
cscope.*
tags

# Others
*.Plo
*.Po
