<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SEnginx Statistics</title>

    <style type="text/css">
    body {
        background:  white;
        color:       black;
        font-family: Helvetica, Arial, sans-serif;
    }

    h1 {
        margin: .5em 0 0 0;
    }

    h2 {
        margin: .8em 0 .3em 0;
    }

    h3 {
        margin: .5em 0 .3em 0;
    }

    table {
        font-size: .8em;
        margin: .5em 0;
        border-collapse: collapse;
        border-bottom: 1px #DED solid;
    }

    table.plain {
        border: none;
    }

    thead th {
        font-size: 1em;
        background: #DED;
        padding: .1em .3em;
        border: .2em solid #FFF;
    }

    tbody tr.odd {
        background: #F5F5F5;
    }

    tbody th {
        text-align: left;
    }

    tbody td {
        height: 1.2em;
        text-align: right;
    }

    #upstreams table {
        width: 100%;
    }

    #upstreams tbody th {
        font-weight: normal;
    }

    .tooltip {
        text-align: left;
        border-bottom: 1px black dotted;
        display: inline;
        position: relative;
        cursor: help;
    }

    .tooltip:hover:after {
        background: #333;
        background: rgba(0,0,0,.8);
        bottom: 26px;
        color: #fff;
        content: attr(title);
        left: 20%;
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 14em;
    }

    .tooltip:hover:before{
        border: solid;
        border-color: #333 transparent;
        border-width: 6px 6px 0 6px;
        bottom: 20px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
    }
    </style>

    <script type="text/javascript"><%= IO.read("jquery-1.10.2.min.js") %></script>
    <script type="text/javascript">
var prevResult = null;
function refreshMonitor() {
    $.ajax({
        type: "GET",
        dataType: "json",
        url: "/stats",
        complete: function() {
            setTimeout(refreshMonitor, 1000);
        },
        error: function() {
            prevResult = null;
        },
        success: function(result) {
            var secElapsed = (prevResult == null) ? 0 : (result.timestamp - prevResult.timestamp)/1000;
            var servers = result.servers;
            var tbl_traffic = $("<table></table>");
            var head_traffic = $("<thead><tr><th>name</th><th>current request</th><th>total request</th><th>req/s</th><th>2xx</th><th>3xx</th><th>4xx</th><th>5xx</th><th>total response</th><th>sent</th><th>recvd</th><th>sent/s</th><th>recvd/s</th></tr></thead>");
            var body_traffic = $("<tbody></tbody>");
            for (var i = 0; i < servers.length; ++i) {
                var row = $("<tr></tr>");
                var cur_traffic = servers[i].traffic;
                row.append($("<td></td>").text(servers[i].name));
                row.append($("<td></td>").text(cur_traffic.cur_req));
                row.append($("<td></td>").text(cur_traffic.req));
                var reqPerSec = (prevResult == null ? NaN : ((cur_traffic.req - prevResult.servers[i].traffic.req) / secElapsed).toFixed(3));
                row.append($("<td></td>").text(reqPerSec >= 0 ? reqPerSec : NaN));
                row.append($("<td></td>").text(cur_traffic.res_2xx));
                row.append($("<td></td>").text(cur_traffic.res_3xx));
                row.append($("<td></td>").text(cur_traffic.res_4xx));
                row.append($("<td></td>").text(cur_traffic.res_5xx));
                row.append($("<td></td>").text(cur_traffic.res_2xx + cur_traffic.res_3xx + cur_traffic.res_3xx + cur_traffic.res_3xx));
                row.append($("<td></td>").text(cur_traffic.sent));
                row.append($("<td></td>").text(cur_traffic.recvd));
                var sentPerSec = (prevResult == null ? NaN : ((cur_traffic.sent - prevResult.servers[i].traffic.sent) / secElapsed).toFixed(3));
                row.append($("<td></td>").text(sentPerSec >= 0 ? sentPerSec : NaN));
                var recvdPerSec = (prevResult == null ? NaN : ((cur_traffic.recvd - prevResult.servers[i].traffic.recvd) / secElapsed).toFixed(3));
                row.append($("<td></td>").text(recvdPerSec >= 0 ? recvdPerSec : NaN));
                body_traffic.append(row);
            }
            tbl_traffic.append(head_traffic);
            tbl_traffic.append(body_traffic);

            var tbl_attack = $("<table></table>");
            var head_attack = $("<thead><tr><th>name</th><th>sql injection</th><th>cross site scripting</th><th>remote file inclusion</th><th>directory traversal</th><th>evading tricks</th><th>file upload</th><th>cookie poisoning</th><th>web defacement</th><th>robot mitigation challenges</th><th>other threats</th></tr></thead>");
            var body_attack = $("<tbody></tbody>");
            for (var i = 0; i < servers.length; ++i) {
                var row = $("<tr></tr>");
                var cur_attack = servers[i].attack;
                row.append($("<td></td>").text(servers[i].name));
                row.append($("<td></td>").text(cur_attack.sql));
                row.append($("<td></td>").text(cur_attack.xss));
                row.append($("<td></td>").text(cur_attack.rfi));
                row.append($("<td></td>").text(cur_attack.dt));
                row.append($("<td></td>").text(cur_attack.evade));
                row.append($("<td></td>").text(cur_attack.fu));
                row.append($("<td></td>").text(cur_attack.cp));
                row.append($("<td></td>").text(cur_attack.wd));
                row.append($("<td></td>").text(cur_attack.rm));
                row.append($("<td></td>").text(cur_attack.other));
                body_attack.append(row);
            }
            tbl_attack.append(head_attack);
            tbl_attack.append(body_attack);

            $("#monitor").empty().append(tbl_traffic).append(tbl_attack);
            prevResult = result;
        }
    });
}
$(refreshMonitor);
    </script>

</head>
<body>
    <h1>
        <img src="./senginx_logo.png" />
    </h1>

    <div id="monitor"></div>
</body>
</html>
